body {
  margin: 0;
  overflow-x: hidden;
  color: #2c323c;
  background-color: #f6f6f6;
  font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif, Arial;
}

html body table td, html body table th {
  border: 1px solid #d6d6d6;
  padding: 6px 13px;
}

html body table th {
  font-weight: bold;
  color: #000;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

html body table {
  margin: 10px 0 15px 0;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

blockquote {
margin: 20px auto;
color: #555555;
padding: 3px 3px 3px 12px;
border-left: 8px solid #84b3ff;
position: relative;
background: #f0f0f0;
}

code {
  font-family: Menlo,Monaco,Consolas,'Courier New',monospace;
  background-color: #f0f0f0;
  border-radius: 3px;
  padding: 3px;
}

pre code {
  background-color: transparent;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  margin: 5px 0;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(175, 175, 175, 0.75);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background-color: rgba(100, 100, 100, 0.85);
}

a {
  color: #3273dc;
  text-decoration: none;
}

a:hover {
  color: #2c323c;
}

#logo-left {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

#logo-right {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

#logo {
  height: 35px;
  width: 35px;
}

#logo-github {
  height: 30px;
  width: 30px;
}

#logo-text {
  padding: 0 10px;
  color: #444950;
  font-size: large;
  font-weight: bold;
}

#header {
  -webkit-box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
  box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
  z-index: 100;
  overflow: hidden;
  background: #fff;
  margin-bottom: 20px;
}

#header-inner {
  width: 1200px;
  padding-left: 30px;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
}

#container {
  margin: auto;
  width: 1200px;
  overflow: hidden;
}

#main {
  float: left;
  width: 70%;
}

#sidebar {
  -webkit-box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
  box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
  border-radius: 5px;
  background-color: #fff;
  float: right;
  width: 30%;
}

#sidebar-content {
  margin: 20px 30px;
}

/* 适配窄框 */
@media (max-width: 1200px) {

  #container {
    width: 100%;
  }
  
  #header-inner {
    width: 100%;
  }

  #logo-right {
    padding-right: 45px;
  }

  #main {
    float: none;
    width: auto;
  }

  #sidebar {
    float: none;
    display: none;
  }
}

